@page "/pc"

<div class="row">
    <div class="col-12">
        <h1 style="@Style">Parent Component</h1>
    </div>
    <CascadingValue Value="Style">
        <ChildComponent placeholder="Parent Component Placeholder" someOtherAttribute="someOtherValue" DefaultParentAttrs="_attributesFromParent" />
    </CascadingValue>
</div>

@code {
    private Dictionary<string, object> _attributesFromParent = new Dictionary<string, object>
    {
        { "required", "required" },
        { "size", "50" },
        { "maxlength", "5" },
        { "someAttribute", "someValue" }
    };

    [CascadingParameter]
    public string Style { get; set; } = "color: blue";

}