@page "/pc"

<div class="row">
    <div class="col-12">
        <h1 style="@Style">Parent Component</h1>
    </div>
    <CascadingValue Value="Style" Name="ColorStyle">
    <CascadingValue Value="BorderStyle" Name="BorderStyle">
    <CascadingValue Value="EmployeeAge">
        <ChildComponent placeholder="Parent Component Placeholder" someOtherAttribute="someOtherValue" DefaultParentAttrs="_attributesFromParent"/>
    </CascadingValue>
    </CascadingValue>
    </CascadingValue>
</div>

@code {
    private Dictionary<string, object> _attributesFromParent = new Dictionary<string, object>
    {
        { "required", "required" },
        { "size", "50" },
        { "maxlength", "5" },
        { "someAttribute", "someValue" }
    };

    public string Style { get; set; } = "color: blue";
    public string BorderStyle { get; set; } = "border: 1px solid green";
    public int EmployeeAge { get; set; } = 25;
}