@page "/account/forgotpassword/"

@using BlazorDemo.Common.Extensions
@using BlazorDemo.Common.Models.Account.ViewModels
@inherits ForgotPasswordBase

<EditForm EditContext="EditContext" OnValidSubmit="@FormForgotPassword_ValidSubmitAsync">
    <CustomDataAnnotationsValidator @ref="_validator" />
    <div class="row">
        <div class="col-12">
            <h3>Forgot Password</h3>
            <hr class="mt-10px" />
        </div>
    </div>
    <div class="row">
        <div class="col-xl-2 col-lg-3 col-sm-6 col-12">
            <label for="inputEmail" class="col-form-label">@($"{ForgotPasswordUserVM.GetDisplayName(nameof(ForgotPasswordUserVM.Email))}:")</label>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
            <InputText @bind-Value="ForgotPasswordUserVM.Email" id="inputEmail" class="form-control" placeholder="@($"{ForgotPasswordUserVM.GetDisplayName(nameof(ForgotPasswordUserVM.Email))}...")" />
        </div>
        <div class="col-xl-7 col-lg-5 col-12 d-none-if-empty">
            <CustomValidationMessage For="@(() => ForgotPasswordUserVM.Email)" class="validation-message-inline-from-lg"></CustomValidationMessage>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-2 col-lg-3 col-sm-5 col-12 offset-xl-2 offset-lg-3">
            <CustomButton Styling="ButtonStyling.Primary" ButtonState="_btnForgotPasswordState">Forgot Password</CustomButton>
        </div>
    </div>
</EditForm>